

:root {

--headerbg: #DFF6FF;
--h2color: #47B5FF;
--pagebg: #1363DF;
--navtext: #06283D;

}

html {

    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {

    background: var(--pagebg) no-repeat;


}

header {

    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: var(--headerbg);
    padding: 2rem;
    margin-left: -1rem;
    margin-top: -1;
    z-index: 2;
    
    
    

}main {

    display: flex;
    justify-content: center;
    top: 50rem;



}

header img {

    height: 10rem;
    width: 8rem;
    border-radius: 50%;
    border-width: 2px;
    margin-top: -2rem;

}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: end;
    padding: 2vh;
    line-height: 1.5rem;
    focus: 


}

nav li {

    color: var(--navtext);



}

h2 {

    position: absolute;
    text-align: start;
    color: var(--h2color)
    text-align: start

}   

#aboutme {

    display: inline-block;
    position: static;
    margin: 20px 20px auto 20px;
    text-align: end;


    margin-top: 10rem;

    

}
#mywork {

    display: flex;
    position: static;
    justify-content: space-between;
    margin: 20px 20px auto 20px;
    text-align: end;
    flex: 1;
  

}

#imgalign {

    diplay: flex;
    justify-content: column;
}


#primaryimg {
 
    display: flex;
    justify-content: row;
    margin: 5rem;
    border-width: black 5px;
    width: 300px;
    padding: 1rem;
    flex: 1;
    flex-wrap: wrap;

}

.secondaryimg {
    
    display: flex;
    justify-content: row;
    margin: 5rem;
    border-width: black 5px;
    width: 150px;
    padding: 1rem;
    flex-wrap: wrap;

}

#img1 { https://github.com/OnlyMeHere/introduction-repo

    width: 300px;
    height: 150px; 
}


 .imgs { https://github.com/OnlyMeHere/introduction-repo

    width: 150px;
    height: 75px;

 }


footer {

    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--headerbg);
    z-index: 2;



}
footer ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 4vh;
}

@media screen and (max-width: 768px ){


    
}