

:root {

--light-blue: #DFF6FF;
--med-blue: #47B5FF;
--dark-blue: #1363DF;
--deep-blue: #06283D;

}

html {

    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {

    background-color: var(--dark-blue);


}

header {

    position: fixed;
    display: block;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    background-color: var(--light-blue);
    padding-left: 2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    z-index: 3;
    
    
    

}


figure {

    display: fixed;
    justify-content: left;
    width: 15rem;
    border-radius: 50%;
    border-width: 2px;

}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: end;
    padding: 2rem;
    line-height: 1.5rem;


}

nav li {

    color: var(--dark-blue);



}

#aboutme {

    display: block;


    margin-top: 10rem;
    

}
#mywork {

    display: block;
  
  

}

footer {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 10rem;
    width: 100%;
    background-color: var(--light-blue);



}
footer ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 4rem;
}